<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="props" class="ar.com.telecom.shiva.base.utils.UtilPropertiesHolder">
  		<property name="locations">
  			<list>
  				<value>classpath:shiva_${entorno}_interno.properties</value>
  				<value>file:${configuracion}</value>
  			</list>
  		</property>
	</bean>
	
	<!-- MAIL -->
	<bean id="mailServicio" class="ar.com.telecom.shiva.base.mail.MailServicio">
		<property name="mailConfiguracion" ref="mailConfiguracion" />
		<property name="autenticacion" ref="autenticacion" />
	</bean>
	
	<bean id="mailConfiguracion" class="ar.com.telecom.shiva.base.mail.MailConfiguracion">
		<property name="host" value="${mail.servidor}" />
		<property name="port" value="${mail.puerto}" />
		<property name="debug" value="${mail.debug}" />
		<property name="auth" value="${mail.auth}" />
		
		<property name="from" value="${mail.from}" />
		<property name="fromName" value="${mail.fromName}" />
		<property name="to" value="${mail.toTest}"/>
		<property name="encoding" value="${mail.encoding}" />		
	</bean>
	
	<bean id="autenticacion" class = "ar.com.telecom.shiva.base.mail.Autenticacion" >
		<property name="username" value="${mail.auth.username}" />
		<property name="password" value="${mail.auth.password}" />
	</bean>
	
</beans>