.custom-combobox {
	position: relative;
	display: inline-block;
}

.custom-combobox-toggle { 
	position: absolute; 
	top: 0; 
	bottom: 0px; 
	margin-left: -19px; 
	padding: 0; 
	/* support: IE7 */ 
	*height: 1.7em; 
	*top: 0.1em; 
}
 
.custom-combobox-input {
	margin: 0;
	padding: 0.3em;
}

.ui-autocomplete {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 305px;
	padding-right: 20px;
}

/* button text element */
.ui-button .ui-button-text {
	display: block;
/* 		line-height: normal; */
	  color: #ffffff;
/* 	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); */
  background-color: #E6E6E6;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.ui-button:hover {
  color: #ffffff;
  background-color: #A9DBF6;
  *background-color: #003bb3;
}
.ui-state-hover {
border: 1px solid #999999;
background: #dadada url(../img/jquery/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
font-weight: normal;
color: #212121;
}